<div class="example-container mat-elevation-z8">
    <div class="example-filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
     <p></p>
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
   
    <ng-container matColumnDef="empId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SNo. </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.empId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.salary}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dept">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dept </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.dept}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CreatedAt </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.createdAt |date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UpdatedAt </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.updatedAt |date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="2"
                 [pageSizeOptions]="[2, 4, 8, 12]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>